#home-page{
    width: 100%;  
    padding: 50px 80px;
    .categ-grid{
        display: grid;
        grid-template-columns: 19% 19% 19% 19% 19%;
        column-gap: 20px;
        row-gap: 20px;
    }
    .jokes-grid{
        margin-top: 50px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 20px;
        row-gap: 40px;
    }
    .load-con{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 20px;
        button{
            width: 200px;
            height: 50px;
            border: 1px solid #cfb995;
            color: #cfb995;
            background-color: white;
            cursor: pointer;
            img{
                margin-left: 10px;
            }
        }
    }
    
}

#categ{
    width: 100%;
    height: 50px; 
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#joke-card{
    width: 100%;
    height: 250px; 
    border: 1px solid #d9d9d9;
    padding: 10px;
    h1{
        font-size: 18px;
        img{
            margin-right: 10px;
        }
    }
    p{
        font-size: 15px;
        margin-top: 10px;
    }
    .btn{
        text-align: right;
        margin-top: 105px;
        cursor: pointer;
        a{
            text-decoration: none;
            color: #cfb995;
        }
        img{
            margin-left: 10px;
        }
    }
}

@media only screen and (max-width: 1000px) {
    #home-page{ 
        .categ-grid{ 
            grid-template-columns: 1fr 1fr 1fr 1fr; 
        }
        .jokes-grid{ 
            grid-template-columns: 1fr 1fr; 
        }
        
        
    }
    
}

@media only screen and (max-width: 850px) {
    #home-page{ 
        .categ-grid{ 
            grid-template-columns: 1fr 1fr 1fr ; 
        }
        
        
    }
    
}

@media only screen and (max-width: 700px) {
    #home-page{ 
        .categ-grid{ 
            grid-template-columns: 1fr 1fr; 
        }
        .jokes-grid{ 
            grid-template-columns: 1fr ; 
        }
        
        
    }
    
}

@media only screen and (max-width: 550px) {
    #home-page{ 
        padding: 50px 40px;
        .categ-grid{ 
            grid-template-columns: 1fr; 
        }
        
        
    }
    
}